/**
 *
 * README
 *
* -------------------------------------------------------------- */

/**

CSS is all under css/main.scss
the content is settings
and
imports all other components

gridle/gridle: the framework for grid system
grid-settings: the settings for gridle
compass/css3: compass framework
variables: my custom vars
fonts: webfonts
base: the actural theme css
layout: css about layout
syntax-highlighting: the css for code syntax
custom-styles: my own css classes

**/
